{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body %}
  <div class="row">
    <div class="two columns">
      <h4 class="secondary-heading">Register</h4>
    </div>
    <div class="ten columns">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="errors">{{ field.errors }}</div>
          <h6 class="hc-help-text">{{ field.label_tag }} </h6>
          {{ field }}
          <br />
        {% endfor %}
        <button class="hc-button" type="submit">Register</button>
      </form>
    </div>
  </div>
{% endblock %}