{% extends 'base.html' %}

{% block title %}{{ book.name }} | HC Book Swap{% endblock %}

{% block body %}
  <div class="row">
    <div class="three columns">
        <img src="{{ book.thumbnail.url }}" class="book-image">
    </div>
    <div class="seven columns">
        <h3 class="secondary-heading">{{ book.name }}</h3>
        <h6>Written by {{ book.author }}</h6>
        <p>{{ book.description }}</p>
        <ul class="book-properties">
            <li><strong>ISBN:</strong> {{ book.isbn }}</li>
            <li><strong>Class:</strong> {{ book.course.name }}</li>
            <li><strong>Condition:</strong> {{ book.condition }}</li>
            <li><strong>Listing submitted:</strong> {{ book.submitted }}</li>
        </ul>
        {% if book.listed_by == user %}
        <a href="{% url 'edit_book' book.id %}" class="hc-button">Edit Book</a>
        {% endif %}
    </div>
    <div class="two columns">
        <h5>${{ book.price }}</h5>
        {% if is_anonymous %}
            <p>For privacy purposes, you must login to contact the seller.</p>
            <a href="#" class="hc-button hc-button-disabled">Contact Seller</a>
        {% else %}
            <a href="#" class="hc-button">Contact Seller</a>
        {% endif %}
    </div>
  </div>
{% endblock %}