{% extends 'base.html' %}

{% block title %}Listings{% endblock %}

{% block body %}
    <div class="row item-display">
        <!-- Start row -->
        <div class="two columns hc-filter">
            <h5 class="secondary-heading">Filter</h5>
            <form action="/" method="get">
                {% for field in filter.form %}
                    <div class="hc-filter-{{field.name}}">
                        <h6 class="hc-help-text">{{ field.label }}</h6>
                        {% if field.name == 'condition' %}
                           {% for checkbox in field %}
                               {{ checkbox.tag }}
                                <label class="hc-checkbox" for="{{checkbox.id_for_label}}">
                                    <span>{{ checkbox.choice_label }}</span>
                                </label>
                            {% endfor %}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" />
            </form>
        </div>
        <div class="ten columns">
             <h5 class="secondary-heading">Listings</h5>
             {% if filter.qs %}
                 {% for book in books %}
                    {% include 'books/snippets/listing.html' with book=book public=True %}
                 {% endfor %}
             {% else %}
                 <p>No results found.</p>
             {% endif %}
             <div class="pagination">
                <span class="hc-pagination-links">
                    {% if books.has_previous %}
                        <a href="?page={{ books.previous_page_number }}"><</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ books.number }} of {{ books.paginator.num_pages }}
                    </span>
            
                    {% if books.has_next %}
                        <a href="?page={{ books.next_page_number }}">></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div> <!-- End row -->

{% endblock %}