{% extends 'base.html' %}

{% block title %}HC Book Swap{% endblock %}

{% block body %}
    <div class="row item-display">
        <!-- Start row -->
        <div class="two columns">
            <h5 class="secondary-heading">Filter</h5>
            <h6 class="secondary-heading">Subject</h6>
            <form>
                {% for subject in subjects %}
                    <label value="{{ subject }}" class="hc-checkbox">
                        <input type="checkbox"> <span>{{ subject }}</span>
                        </input>
                    </label>
                {% endfor %}
            </form>
            <h6 class="secondary-heading">Condition</h6>
            <form>
                {% for condition in conditions %}
                    <label value="{{ condition }}" class="hc-checkbox">
                        <input type="checkbox"> <span>{{ condition }}</span>
                        </input>
                    </label>
                {% endfor %}
            </form>
        </div>
        <div class="ten columns">
             <h5 class="secondary-heading">Listings</h5>
            {% for book in books %}
                {% include 'books/snippets/listing.html' with book=book public=True %}
            {% endfor %}
        </div>
    </div> <!-- End row -->

{% endblock %}