{% extends 'base.html' %}


{% block title %}HC Book Swap{% endblock %}

{% block body %}
    <div class="row item-display">
        <!-- Start row -->
        <div class="two columns hc-filter">
            <h5 class="secondary-heading">Filter</h5>
            <form action="/" method="get">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
        </div>
        <div class="ten columns">
             <h5 class="secondary-heading">Listings</h5>
             {% if filter.qs %}
                 {% for book in books %}
                    {% include 'books/snippets/listing.html' with book=book public=True %}
                 {% endfor %}
             {% else %}
                 <p>No results found.</p>
             {% endif %}
             <div class="pagination">
                <span class="hc-pagination-links">
                    {% if books.has_previous %}
                        <a href="?page={{ books.previous_page_number }}"><</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ books.number }} of {{ books.paginator.num_pages }}
                    </span>
            
                    {% if books.has_next %}
                        <a href="?page={{ books.next_page_number }}">></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div> <!-- End row -->

{% endblock %}