{% extends 'base.html' %}

{% block title %}My Books{% endblock %}

{% block body %}
  <div class="row">
    <div class="two columns">
        <h4 class="secondary-heading">{{ user.username }}'s Books</h4>
        <span><strong>Email:</strong> {{ user.email }}</span>
    </div>
    <div class="ten columns">
        <p class="warning">Please delete listings for sold books.</p>
        {% for book in books %}
                {% include 'books/snippets/listing.html' with book=book public=False %}
        {% endfor %}
    </div>
  </div>
{% endblock %}