<!doctype html>
{% load static from staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %} | HC Book Swap</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/skeleton.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto">
        <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    </head>
    <body>
            <div class="top-menu"> <!-- Start row -->
                <div class="row">
                    <div class="seven columns">
                        <h5 class="title-heading"><a href="{% url 'index' %}">HC Book Swap</a></h5>
                    </div>
                    <div class="five columns">
                        <div class="top-links">
                            <a href="{% url 'add_book' %}" class="hc-button">Sell a Book</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'my_books' %}" class="hc-button">My Books</a>
                                <a href="{% url 'logout' %}" class="hc-button">Logout</a>
                            {% else %}
                                <a href="{% url 'register' %}" class="hc-button">Register</a>
                                <a href="{% url 'login' %}" class="hc-button">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> <!-- End row -->
        <div class="content">
            <div class="inner-content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
    <footer>
        <div class="content">
            <div class="inner-content">
                <h6 class="secondary-heading">Hinsdale Central High School, Hinsdale, Illinois</h6>
                <p>Buy, sell, and trade textbooks with fellow students.</p>
                <span>
                    <a href="{% url 'disclaimer' %}">Disclaimer</a>
                    <a href="{% url 'contact' %}">Contact</a>
                </span>
            </div>
        </div>
    </footer>
</html>